.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	box-shadow: 0 2px 1px rgb(231, 231, 231);
	background-color: #fff;
	z-index: 1;
	padding: 0 12px;
	height: 61px;
}

.service-name {
	font-size: 20px;
}

.header div p {
	display: inline;
	font-weight: 600;
	padding: 2px 8px;
}

.lang {
	border: 2px solid rgb(241,70,53);
	border-spacing: 100px 100px;
	border-radius: 16px;
	color: rgb(241,70,53);
}

.profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
}

.pfp {
	border-radius: 50%;
	background: url(https://imgur.com/EB34m6S.png) no-repeat;
	background-position: center center;
	background-size: contain;
	height: 6vh;
	width: 6vh;
}