@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
	margin-top: 61px;
	margin-bottom: 85px;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

code {
	font-family: "Roboto", sans-serif;
}
